<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2eeweb-app_2_4.xsd"
         version="2.4">

    <display-name>tapestry-time</display-name>

    <servlet>
        <servlet-name>tapestry-time</servlet-name>
        <servlet-class>org.apache.tapestry.ApplicationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>*.external</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>*.direct</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>*.sdirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>*.svc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tapestry-time</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
</web-app>